@{
    ViewData["Title"] = "CSharpWars";
}


<div class="text-center">
    <img src="~/images/logo2-small.png" class="img-fluid" />
</div>

<canvas id="unity-canvas" style="width: 100%; background: #231F20"></canvas>
<script src="lib/unity/bin.loader.js"></script>
<script>
      if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
        // Mobile device style: fill the whole browser client area with the game canvas:
        var meta = document.createElement('meta');
        meta.name = 'viewport';
        meta.content = 'width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, shrink-to-fit=yes';
        document.getElementsByTagName('head')[0].appendChild(meta);

        var canvas = document.querySelector("#unity-canvas");
        canvas.style.width = "100%";
        canvas.style.height = "100%";
        canvas.style.position = "fixed";

        document.body.style.textAlign = "left";
      }

      createUnityInstance(document.querySelector("#unity-canvas"), {
        dataUrl: "lib/unity/bin.data.gz",
        frameworkUrl: "lib/unity/bin.framework.js.gz",
        codeUrl: "lib/unity/bin.wasm.gz",
        streamingAssetsUrl: "StreamingAssets",
        companyName: "Johnny Hooyberghs",
        productName: "CSharpWars",
        productVersion: "0.1",
        // matchWebGLToCanvasSize: false, // Uncomment this to separately control WebGL canvas render size and DOM element size.
        // devicePixelRatio: 1, // Uncomment this to override low DPI rendering on high DPI displays.
      });
    </script>