@page "/"

<PageTitle>Index</PageTitle>

<div class="d-flex justify-center">
<MudImage Fluid="true" ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center" Src="img/logo2-small.png" Alt="Swedish Farm House" Class="rounded-lg"/>
</div>

<MudText Typo="Typo.h3" GutterBottom="true">CSharpWars</MudText>
<MudText Class="mb-8">Please use an existing user, or create a new user to start!</MudText>
<MudAlert Severity="Severity.Normal">Please use an existing user, or create a new user to start!</MudAlert>